.hl-select-options{
  position: relative;
}

.hl-select-loading-item {
  width: 100%;
  height: 100px;
  pointer-events: none;
}

.hl-select-readonly-item {
  .el-select__wrapper {
    background-color: #fff;
    box-shadow: none !important;
    color: inherit !important;

    .el-select__selected-item {
      color: inherit !important;
    }

    .el-select__suffix{
      display: none;
    }
  }
}