.mu-radio-line-item {
  width: 100%;

  .el-radio {
    width: 100%;
    margin-right: 0;

    .el-radio__label {
      white-space: break-spaces;
      line-height: 20px;
    }
  }
}


.mu-radio-readonly-group {

  .el-radio {
    display: none;
    cursor: inherit;

    &.is-checked {
      display: inline-flex;
    }

    .el-radio__input {
      display: none;
    }

    .el-radio__label {
      color: inherit !important;
      cursor: inherit !important;
      padding-left: 0;
    }

    &:first-child {
      .el-radio__label {
        padding-left: 0;
      }
    }
  }
}