.mu-dropdown-popover .active {
  background-color: var(--color-primary);
  color: white;
}

.mu-dropdown-popover .dropdown-label {
  cursor: pointer;
  line-height: normal;
}

.mu-dropdown .active-label {
  color: var(--color-primary);
}

.mu-dropdown .arrow-icon {
  transition: all ease 0.5s;
}

.mu-dropdown .deg-180 {
  transform: rotate(180deg);
}
